*,
*::before,
*::after {
  box-sizing: border-box;
  font: "Lucida Grande", Verdana, Arial, Sans-Serif;
  color: #444444;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  font-size: 1.5em;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(var(--hue), 100%, 20%);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: snow;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 0px 2px;
}

.timeDiv {
  width: 300px;
  max-width: 30%;
  background-color: snow;
  margin: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  margin: 10px 0;
}

.btn {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 30%);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  border-radius: 5px;
  padding: 10px 10px;
  color: snow;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
